.thumbnail (@border-outer, @border-inner) {
	padding: @border-inner;
	background-color: #fff;
	border: @border-outer;
}

.block-shadow {
	box-shadow: 2px 2px 8px rgba(55,55,55,0.7);
}

.rounded-panel {
	border: 1px solid @basic-light-gray;
	border-radius: 8px;
}