ul.dropdown__submenu {
	background-color: @basic-light-gray;
	& > li {
		display: block;
		width: 100%;
		clear: both;
		float: left;
		a {
			padding: @default-vertical-padding @default-horizontal-padding;
		}
	}
}