/* Container */

.container {
	@media @phone {
		max-width: @phone-container-width;
	}
	@media @tablet {
		max-width: @tablet-container-width;
	}
	@media @desktop {
		max-width: @container-width;
	}
	
	margin: 0 auto;
	padding: 0 @gutter / 2;
}

/* Rows */

.row {
	width: 100%;
	clear: both;
	margin: @default-vertical-margin -@gutter / 2;
}

/* Columns */

.generate-columns(desktop, @columns);
.generate-columns(tablet, @columns);
.generate-columns(phone, @columns);

.inner {
	padding: 0 @gutter / 2;
}