/* Container */

.container {
	@media @phone {
		min-width: @phone-width;
		max-width: @tablet-width;
	}
	@media @tablet {
		min-width: @tablet-width;
		max-width: @laptop-width;
	}
	@media @laptop {
		min-width: @laptop-width;
		max-width: @desktop-width;
	}
	@media @desktop {
		max-width: @desktop-width;
	}
	
	margin: 0 auto;
	padding: 0 @gutter / 2;
}

/* Rows */

.row {
	width: 100%;
	clear: both;
	margin: @default-vertical-margin -@gutter / 2;
}

/* Columns */

/* TODO: Разобраться с and (orientation: lanscape) и т.д. */

.generate-columns(phone, @columns);
.generate-columns(tablet, @columns);
.generate-columns(laptop, @columns);
.generate-columns(desktop, @columns);

.inner {
	padding: 0 @gutter / 2;
}