.nav {

	&--horizontal {
		ul {
			li {
				list-style: none;
				display: inline-block;
				float: left;
				a {
					display: table-cell;
					text-align: center;
					padding: @nav-horizontal-links-padding;
				}
			}
		}
	}
}