p, span {
	line-height: @text-line-height;
}

h1, h2, h3, h4, h5, h6 {

}

h1 { font-size: @heading-size; }
h2 { font-size: @heading-size * .8; }
h3 { font-size: @heading-size * .6; }
h4 { font-size: @heading-size * .4; }
h5 { font-size: @heading-size * .2; }
h6 { font-size: @heading-size * .15; }