/* Intervals */
@default-horizontal-padding: 20px;
@default-vertical-padding: 10px;
@default-horizontal-margin: 20px;
@default-vertical-margin: 10px;

/* Container */

@container-width: 1280px;

/* Columns */

@columns: 32;
@gutter: 30px;

/* Navigation */

@nav-horizontal-height: auto;
@nav-horizontal-links-padding: 10px;

/* Typography */

@default-font-size: 1em;
@default-font-family: 'Georgia', serif;
@text-line-height: 150%;
@default-font-color: #444;
@default-pale-font-color: lighten(@default-font-color, 25%);

@heading-size: 3em;
@heading-font-family: @default-font-family;
@heading-margin: 5px 0 10px 0;
@default-heading-color: darken(@default-font-color, 10%);
@subheading-size-modifier: .65;