/* Intervals */
@default-padding: 10px;
@default-horizontal-padding: 20px;
@default-vertical-padding: 10px;

@default-margin: 10px;
@default-horizontal-margin: 20px;
@default-vertical-margin: 10px;

/* Container */

@container-width: 1280px;
@tablet-container-width: 960px;
@phone-container-width: 480px;

/* Devices */

	/*-- Breakpoints */

@desktop-width: 1280px;
@laptop-width: 960px; /* The same as tablet in landscape orientation */
@tablet-width: 480px; /* The same as phone in landscape orientation */
@phone-width: 320px;

	/*-- Media Queries */

@desktop: ~"only screen and (min-width: @{desktop-width})";
@laptop: ~"only screen and (min-width: @{laptop-width}) and (max-width: @{desktop-width})";
@tablet: ~"only screen and (min-width: @{tablet-width}) and (max-width: @{laptop-width})";
@phone: ~"only screen and (max-width: @{phone-width})";

/* Columns */

@columns: 32;
@gutter: 30px;

/* Navigation */

@nav-horizontal-height: auto;
@nav-horizontal-links-padding: 10px;

/* Typography */

@default-font-size: 1em;
@default-font-family: 'Droid Serif', serif;
@text-line-height: 150%;
@default-font-color: @basic-black;
@default-pale-font-color: @basic-light-gray;

@heading-size: 3em;
@heading-font-family: @default-font-family;
@heading-margin: 5px 0 10px 0;
@default-heading-color: @basic-heavy-black;
@subheading-size-modifier: .65;

@nav-font-family: @default-font-family;
@nav-font-size: @default-font-size * 1.2;

/* Borders */

@default-border-color: @basic-light-gray;

/* Colors */

@basic-heavy-black: darken(@basic-black, 10%);
@basic-black: #444;
@basic-gray: lighten(@basic-black, 25%);
@basic-light-gray: lighten(@basic-gray, 25%);
@basic-ultralight-gray: lighten(@basic-light-gray, 20%);
@basic-white: #fff;


@basic-color: #0D56A6;
@basic-color-light: lighten(@basic-color, 20%);
@basic-color-dark: darken(@basic-color, 20%);
@basic-color-ultralight: lighten(@basic-color-light, 30%);

@complimentary-color: #FF9A00;
@complimentary-color-light: lighten(@complimentary-color, 20%);
@complimentary-color-dark: darken(@complimentary-color, 20%);
@complimentary-color-ultralight: lighten(@complimentary-color-light, 20%);

/* Buttons */

@button-default-margin: 10px 0 0 5px;
@button-default-padding: 10px 20px;

@button-little-margin: @button-default-margin;
@button-little-padding: 5px 10px;
@button-large-margin: @button-default-margin;
@button-large-padding: 15px 30px;
@button-verylarge-margin: @button-default-margin;
@button-verylarge-padding: 20px 40px;

@button-default-font-size: @default-font-size * 1.2;
@button-little-font-size: @default-font-size;
@button-large-font-size: @default-font-size * 1.4;
@button-verylarge-font-size: @default-font-size * 1.6;